.when("/platform/prospects/new", {
    template: "<h1>Template</h1>",
    templateUrl: "",
    controller: "",
    resolve: {
        something: ["$route", function ($route) {
            return "";
        }]
    }.
    redirectTo: ""
})