<div id="snippets-settings-dialog" class="modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{SNIPPETS_SETTINGS}}</h1>
    </div>
    <div class="modal-body">

        <!-- #main -->
        <div class="row-fluid">
            <label class="span4">{{SNIPPETS_DIRECTORY}}:</label>
            <input class="span8" type="text" settingsProperty="snippetsDirectory" />
        </div>
        <!-- /main -->
        <!-- #shortcuts -->
        <div class="row-fluid">
            <div class="span12">
                {{SHORTCUTS_HINT}}
            </div>
        </div>
        <div class="row-fluid">
            <label class="span4">{{INSERT_SNIPPET}}:</label>
            <input class="span8" type="text" settingsProperty="triggerSnippetShortcut" />
        </div>
        <div class="row-fluid">
            <label class="span4">{{SHOW_SNIPPET_PANEL}}:</label>
            <input class="span8" type="text" settingsProperty="showSnippetsPanelShortcut" />
        </div>
        <!-- /shortcuts -->
        <hr>
        <!-- debug -->
        <div class="row-fluid">
            <div class="span12">
                <label>
                    <input type="checkbox" settingsProperty="debugMode" />
                    {{{DEBUG_MODE_SETTING}}}
                </label>
            </div>
        </div>
        <!-- /debug -->

    </div>
    <div class="modal-footer">
        <button data-button-id="defaults" class="dialog-button btn left">{{BUTTON_RESTORE_DEFAULTS}}</button>
        <button data-button-id="cancel"   class="dialog-button btn cancel" >{{BUTTON_CANCEL}}</button>
        <button data-button-id="ok"       class="dialog-button btn primary">{{BUTTON_SAVE}}</button>
    </div>
</div>
